*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}

.container {
    max-width: 900rem;
    margin: 0 center;
    border-radius: 15px;
}

.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.3);
  border-radius: 10px;
}

.form_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr ));
    grid-gap: 20px;
    margin-top: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 4px;
}

input , select , textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;

}
#upload2{
    margin-bottom: 10px;
}

.button_container{

    display: flex;
    justify-content: flex-start;
    margin-top: 20px;

    
}

button{
    background-color: green;
    border: solid white 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: rgb(100, 203, 79);
    border: 2px solid green;
    color: black;
    transition: 0.3s ease-out;
}


